name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macos-10.15, ubuntu-20.04]

    steps:

      - name: Checkout Repository
        uses: actions/checkout@v2

      - name: Setup Miniconda & Environment
        uses: conda-incubator/setup-miniconda@v1
        with:
          python-version: 3.7
          auto-update-conda: true
          activate-environment: pybind11-test-env
          environment-file: environment.yml
          auto-activate-base: false

      - name: Conda Info
        shell: bash -l {0}
        run: |
          conda info -a
          conda list

      - name: Compile the C++ code [ubuntu]
        shell: bash -l {0}
        if: matrix.os == 'ubuntu-20.04'
        run: c++ -O3 -Wall -I/usr/share/miniconda/envs/pybind11-test-env/include/eigen3/ -shared -std=c++11 -fPIC `python3 -m pybind11 --includes` functions.cpp -o functions`python3-config --extension-suffix`

      - name: Compile the C++ code [macos]
        shell: bash -l {0}
        if: matrix.os == 'macos-10.15'
        run: ls /usr/local/miniconda/envs/pybind11-test-env/include/eigen3/ -shared -std=c++11 -undefined dynamic_lookup `python3 -m pybind11 --includes` functions.cpp -o functions`python3-config --extension-suffix`

      - name: Test seed=0
        shell: bash -l {0}
        run: python test.py --seed 0

      - name: Test seed=1
        shell: bash -l {0}
        run: python test.py --seed 1
